<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Question Details:</h1>
<form name="voteForm" action = "{% url 'polls:vote' question.id%}" method="POST">
    {% csrf_token %}
<p>{{ question.question_text }}</p>
<ul>
    {% for choice in question.choice_set.all %}
    <li>
        {{ choice.choice_text }}
    </li>
    {% endfor %}
</ul>
    <input type="submit" name="voteBTN" value="Vote"/>
</form>
</body>
</html>