<!doctype html>
<html lang="en-US">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Document</title>
    <link href="{% static 'polls/assets/css/styles.css' %}" rel="stylesheet">
    <link href="{% static '/polls/assets/images/favicon.ico' %}" rel="icon" type="image/x-icon"/>
</head>
<body>
<h1>Question Lists</h1>
<div class="vote_image"></div>
{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li>
        <a href="{% url 'polls:detail' question.id %}">
            {{ question.question_text }}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No Question Found</p>
{% endif %}
<script src="{% static 'polls/assets/js/functions.js' %}"></script>
</body>
</html>